                          



@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

                      /* Universial Design  */

main{
  max-width: 1200px;
  margin: auto;
}    
.section-title{
   font-size: 2.5rem;
   color: black;
   padding-bottom: 20px;
   
}
.section-description{
  font-size: .8rem;
  color: gray;
  padding-bottom: 20px;
  line-height: 20px;
}
.btn-primary{
  font-size: 18px;
  padding: 15px 18px;
  color: white;
  border: none;
  background-color:#ff900e ;
  border-radius: 5px;
  /* margin-bottom: 30px; */
  cursor: pointer;
}
header{
  background-color:#fff4e7 ;
  padding: 50px 200px;
}

                              /* Nav Section Design  */
h3{
  font-size: 36px;
}                          
nav{
  /* width: 1140px; */
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 50px 0px; */
}
ul{
  display: flex;
  /* justify-content: space-between; */
  /* margin-left:10px ; */
}
nav li{
  list-style: none;
}
nav a{
  text-decoration: none;
  margin-left: 50px;
  color: rgb(0, 0, 0);
  /* list-style: none; */
}

                         /* Banner Section Design  */
    
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  
}
/* .banner{
  width: 1200px ;
  margin: auto;
} */
.banner-title{
  font-size: 4rem;
  margin-bottom: 30px;
  
}
.banner-description{
  font-size: 1rem;
  color: gray;
  margin-bottom: 30px;
}
.banner-img{
  width: 100%;
  padding: 30px 0px;
}  

   /* TEAM SECTION DESIGN AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
   .team-img-container img{
    width: 100%;
  }
   .section1-container{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 50px 0px;
   }
   .team-img-container{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.3rem;
   }
   .team-content{
    width: 50%;
   }
  .quick-span{
    color: gray;
  }
  .feature-span{
    color: #ff900e;
  }
   
            /* SECTION3 DESIGN  */
  .section3{
    padding: 50px 0px;
  }
  .card-container{
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
  }
  .card{
    text-align: center;
    height: 150px;
    width: 150px;
    border: 1px solid #ff900e;
    border-radius: 5px;
    padding: 20px ;

  }
  .fact-title{
     color: rgb(48, 46, 46);
     font-size: 2rem;
     font-weight: 400;
  }
  .fact-description{
    color: gray;
    font-size: 1rem;
  }
  .card img{
    padding-top: 10px;
  }
  




                                          /*  RESPONSIVE FOR MOBILE */


@media screen and (max-width:576px){

  header{
    padding: 20px;
  }
  nav , .section1-container, .card-container{
    flex-direction: column;
    /* align-items: center; */
  }

  nav > ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-title{
    font-size: 24px;
  }
  /* TEAM SECTION */

  .team-img-container{
    grid-template-columns: repeat(1,1fr);
    /* margin: 0px 30px; */
  }
.section1-container{
  padding: 0px 30px;
  /* background-color: crimson; */

}
.team-content{
  width: 100%;
 }

.section-title{
  font-size: 1.7rem;
}
.card{
  margin-bottom: 10px;
}
.fact-content{
  padding: 0px 30px;
}
}

                    /* fact section responsive  */
.section3{
  padding: 0px;
}
.card-container{
  align-items: center;
  gap: 5px;
  padding: 30px 0px;
}

                                                           /*  RESPONSIVE FOR TABLET */

@media screen and (min-width:576px) and (max-width:960px){
  header{
    padding: 50px;
  }
  nav ,.section1-container{
    flex-direction: column;
  }
  .section1-container{
    padding: 0px 50px;
    /* background-color: crimson; */
  
  }
  .banner-title{
    font-size: 2.8rem;
  }
  .team-content{
    width: 100%;
   }

   /* section3 */
   .section3{
    padding: 50px;
  }
  
}




